<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="C:\denv\dashboard" />
        <add key="DJANGO_SETTINGS_MODULE" value="dashboard.settings" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="dashboard_handeling" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\denv\Scripts\python.exe|C:\denv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
