{% extends 'base2.html' %}
{% load static %}
{% load humanize %}

{% block children %}
<!-- Info Modal -->
<div class="modal fade " id="inventory_stock_results_division_valuation_ps_pmp_euro_cost_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Informations</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {%include 'inventory_stock\modal_info.html' %}
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
        </div>
    </div>
</div>
<div class="card card-primary card-outline" style="overflow-x:scroll;overflow-y:scroll;height: 600px;">
    <div class="card-header">
        <div class="card-tools" style="margin-right: -0.8rem;" >
            <form action={%url 'homesettings' %} method='POST'>
                {% csrf_token %}
                <input name="kpi" type="hidden" value="inventory_stock\division_valuation_ps_pmp_euro_cost"> 
                <input name="col" type="hidden" value="6"> 
            <ul class="list-group list-group-horizontal" style="height: 35px;">
                <li class="list-group-item" style="padding:7px;"><i type="button"  data-toggle="modal" data-target="#inventory_stock_results_division_valuation_ps_pmp_euro_cost_modal" class="info fas fa-info-circle"></i></li>
                <li class="list-group-item" style="padding:7px;"><button type="submit" style="border: none;background: none;padding: 0;"><i class=" favorite fas fa-heart" {%if 'inventory_stock\\division_valuation_ps_pmp_euro_cost.html' in homekpi %} style="color:red;" {%endif%} ></i></button></li>
            </form>
            <li class="list-group-item" style="padding:7px;"><i type="button" class="download fas fa-download" id="btn-download-inventory_stock_results_division_valuation_ps_pmp_euro_cost"></i></li>
            <li class="list-group-item" style="padding:7px;"><button type="button" class="btn btn-tool" data-card-widget="maximize" style="padding:3px;padding-top: 0px;"><i class="fas fa-expand"></button></i></li>
            </ul>
        </div>
        <h5 class="m-0">Valuation PS vs PMP per division <sup>Euro</sup></h5>
        
    </div>
    <div class="card-body ">
        <h6 class="card-title ">Week(s): 
            <ul class="list-group list-group-horizontal" style="margin-top: 10px; margin-bottom: 10px;">
                {%for w in weeks %} 
                <li class="list-group-item" style="padding:0.4rem 0.6rem">{{w}}</li>
                {%empty%}
                <li class="list-group-item" style="padding:0.4rem 0.6rem">{{current_week}}</li>
                {%endfor%}
            </ul> 
        </h6>  

        {% if inventory_stock_results_division_valuation_ps_pmp_euro_cost|length > 0 %}
        <div style="height: 400px">
            <canvas id="inventory_stock_results_division_valuation_ps_pmp_euro_cost" ></canvas>

            <script>
                var canvas = document.getElementById('inventory_stock_results_division_valuation_ps_pmp_euro_cost');
                var ctx = canvas.getContext('2d');
                var gradient1 = ctx.createLinearGradient(0, 0, 0, 400);
                gradient1.addColorStop(0, 'rgba(34,193,195,1)');   
                gradient1.addColorStop(1, 'rgba(253,187,45,1)');
                var gradient2 = ctx.createLinearGradient(0, 0, 0, 400);
                gradient2.addColorStop(0, 'rgba(63,94,251,1)');   
                gradient2.addColorStop(1, 'rgba(252,70,107,1)');
                const inventory_stock_results_division_valuation_ps_pmp_euro_cost=new Chart("inventory_stock_results_division_valuation_ps_pmp_euro_cost", {
                    type: "bar",
                    data: {
                            labels: [{% for index, data in inventory_stock_results_division_valuation_ps_pmp_euro_cost.iterrows %} '{{data.division}}', {% endfor %}],
                            datasets: [
                                {
                                    label: "PS",
                                    backgroundColor: gradient1,
                                    data: [{% for index, data in inventory_stock_results_division_valuation_ps_pmp_euro_cost.iterrows %} ({{data.valuation_ps_euro}}).toFixed(2), {% endfor %}]
                                  }, 
                                  {
                                    label: "PMP",
                                    backgroundColor: gradient2,
                                    data: [{% for index, data in inventory_stock_results_division_valuation_ps_pmp_euro_cost.iterrows %} ({{data.valuation_pmp_euro}}).toFixed(2), {% endfor %}]
                                  }
                            ]
                            },
                    options: {
                        plugins: {
                                datalabels: {
                                    anchor: 'end',
                                    clamp: true,
                                    color: 'black',
                                    
                                },
                                legend: {
                                display: true,
                                position:'left',
                                align:'middle',
                                labels: {
                                usePointStyle: true,
                                boxWidth: 6
                                },
                                },

                                title: {
                                    display: false,
                                    text: "tile"
                                },
                                
                            },
                            responsive: true,
                            maintainAspectRatio:false, 

                    }
                });
            </script>
        </div>
        {% else %}
        <center style="margin-top: 15%;"><img src="{% static 'img/nodatafound.png' %}" alt="">
            <p class="card-text text-center">
                No Data available for this selection
            </p>
            <a class="btn btn-primary" href="{% url 'inventory_stockupload' %}" role="button">Calculate now</a>
        </center>
        {% endif %}
    </div>

    <script>
        var image = inventory_stock_results_division_valuation_ps_pmp_euro_cost.toBase64Image();
        document.getElementById('btn-download-inventory_stock_results_division_valuation_ps_pmp_euro_cost').onclick = function() {
        var a = document.createElement('a');
        a.href = inventory_stock_results_division_valuation_ps_pmp_euro_cost.toBase64Image();
        a.download = 'inventory_stock_results_division_valuation_ps_pmp_euro_cost.png';
        a.click();
        }
    </script>
</div>



{% endblock children%}