{%extends 'base.html'%}
{% block content%}
{% load static %}


<div class="content">
    <div class="container-fluid">
        <!-- filter -->
        <div class="row">
            <div class="col-12">
                <div class="callout callout-info">
                    <h5><i class="fas fa-info"></i> Info:</h5>
                    Each KPI has a key user, so for all your incident or upgrade requests please contact the corresponding key user. 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    <span class="username">
                        <div class="card-header text-muted border-bottom-0">
                            <a href="{% url 'PurchasePastHome' %}"><b>MRPC: </b> Purchase Past</a>
                        </div>
                    </span>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-8">
                                <h2 class="lead"><b>Bastian Thocaven</b></h2>
                                <p class="text-muted text-sm">Responsable MRPC</p>
                                <ul class="ml-1 mb-0 fa-ul text-muted">
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span>Email: bastian.thocaven@latecoere.aero</li>
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
                                </ul>
                            </div>
                            <div class="col-4 text-center">
                                <img src="{% static '/img/avatar5.png' %}" alt="user-avatar" class="img-circle img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="text-right">
                            <a href="#" class="btn btn-sm bg-teal">
                                <i class="fas fa-comments"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-primary">
                                <i class="fas fa-user"></i> View Profile
                            </a>
                        </div> -->
                    </div>
                </div>
                
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    <span class="username">
                        <div class="card-header text-muted border-bottom-0">
                            <a href="{% url 'PurchasePastHome' %}"><b>Planification: </b> Adherence MEXEP</a>
                        </div>
                    </span>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-8">
                                <h2 class="lead"><b>Raphael CEGIELKA</b></h2>
                                <p class="text-muted text-sm">TBD</p>
                                <ul class="ml-1 mb-0 fa-ul text-muted">
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span>Email: raphael.cegielka@latecoere-group.com</li>
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
                                </ul>
                            </div>
                            <div class="col-4 text-center">
                                <img src="{% static '/img/avatar10.png' %}" alt="user-avatar" class="img-circle img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="text-right">
                            <a href="#" class="btn btn-sm bg-teal">
                                <i class="fas fa-comments"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-primary">
                                <i class="fas fa-user"></i> View Profile
                            </a>
                        </div> -->
                    </div>
                </div>
                
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    <span class="username">
                        <div class="card-header text-muted border-bottom-0">
                            <a href="{% url 'intercopurchaseHome' %}"><b>MRPC: </b> Interco Purchase Past</a>
                        </div>
                    </span>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-8">
                                <h2 class="lead"><b>Bastian Thocaven</b></h2>
                                <p class="text-muted text-sm">Responsable MRPC</p>
                                <ul class="ml-1 mb-0 fa-ul text-muted">
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span>Email: bastian.thocaven@latecoere.aero</li>
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
                                </ul>
                            </div>
                            <div class="col-4 text-center">
                                <img src="{% static '/img/avatar5.png' %}" alt="user-avatar" class="img-circle img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="text-right">
                            <a href="#" class="btn btn-sm bg-teal">
                                <i class="fas fa-comments"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-primary">
                                <i class="fas fa-user"></i> View Profile
                            </a>
                        </div> -->
                    </div>
                </div>
                
            </div>

            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    <span class="username">
                        <div class="card-header text-muted border-bottom-0">
                            <a href="{% url 'cogihome' %}"><b>Logistics: </b> COGI</a>
                        </div>
                    </span>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-8">
                                <h2 class="lead"><b>Aziz Mouslih</b></h2>
                                <p class="text-muted text-sm">RESPONSABLE LOGISTIQUE CENTRAL</p>
                                <ul class="ml-1 mb-0 fa-ul text-muted">
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span>Email: aziz.mouslih@latecoere.aero</li>
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
                                </ul>
                            </div>
                            <div class="col-4 text-center">
                                <img src="{% static '/img/avatar6.png' %}" alt="user-avatar" class="img-circle img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="text-right">
                            <a href="#" class="btn btn-sm bg-teal">
                                <i class="fas fa-comments"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-primary">
                                <i class="fas fa-user"></i> View Profile
                            </a>
                        </div> -->
                    </div>
                </div>
                
            </div>

            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    <span class="username">
                        <div class="card-header text-muted border-bottom-0">
                            <a href="{% url 'PurchasePastHome' %}"><b>Manufacturing: </b>WO Past</a>
                        </div>
                    </span>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-8">
                                <h2 class="lead"><b>Jean-Charles ROCHER</b></h2>
                                <p class="text-muted text-sm">RESP methodes et outils ordo
                                    </p>
                                <ul class="ml-1 mb-0 fa-ul text-muted">
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span>Email: jeancharles.rocher@latecoere.aero</li>
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
                                </ul>
                            </div>
                            <div class="col-4 text-center">
                                <img src="{% static '/img/avatar6.jpg' %}" alt="user-avatar" class="img-circle img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="text-right">
                            <a href="#" class="btn btn-sm bg-teal">
                                <i class="fas fa-comments"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-primary">
                                <i class="fas fa-user"></i> View Profile
                            </a>
                        </div> -->
                    </div>
                </div>
                
            </div>

            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    <span class="username">
                        <div class="card-header text-muted border-bottom-0">
                            <a href="{% url 'PurchasePastHome' %}"><b>Logistics: </b> Inventory Stock</a>
                        </div>
                    </span>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-8">
                                <h2 class="lead"><b>PFEIFFER Alexandre </b></h2>
                                <p class="text-muted text-sm">Central Logistic Data Analyst</p>
                                <ul class="ml-1 mb-0 fa-ul text-muted">
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span>Email: alexandre.pfeiffer@latecoere.aero</li>
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
                                </ul>
                            </div>
                            <div class="col-4 text-center">
                                <img src="{% static '/img/avatar9.png' %}" alt="user-avatar" class="img-circle img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="text-right">
                            <a href="#" class="btn btn-sm bg-teal">
                                <i class="fas fa-comments"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-primary">
                                <i class="fas fa-user"></i> View Profile
                            </a>
                        </div> -->
                    </div>
                </div>
                
            </div>

            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    <span class="username">
                        <div class="card-header text-muted border-bottom-0">
                            <a href="{% url 'PurchasePastHome' %}"><b>Logistics: </b>  Inventory Accuracy</a>
                        </div>
                    </span>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-8">
                                <h2 class="lead"><b>Anthony DOLORES </b></h2>
                                <p class="text-muted text-sm">Logistic Central & Customs Coordinator</p>
                                <ul class="ml-1 mb-0 fa-ul text-muted">
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span>Email: anthony.dolores@latecoere.aero</li>
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
                                </ul>
                            </div>
                            <div class="col-4 text-center">
                                <img src="{% static '/img/avatar8.png' %}" alt="user-avatar" class="img-circle img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="text-right">
                            <a href="#" class="btn btn-sm bg-teal">
                                <i class="fas fa-comments"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-primary">
                                <i class="fas fa-user"></i> View Profile
                            </a>
                        </div> -->
                    </div>
                </div>
                
            </div>

            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    <span class="username">
                        <div class="card-header text-muted border-bottom-0">
                            <a href="{% url 'CustomerOrderPastHome' %}"><b>Program: </b>  Customer order past</a>
                        </div>
                    </span>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-8">
                                <h2 class="lead"><b>RENARD Fabienne </b></h2>
                                <p class="text-muted text-sm">RESP ADMNISTRATION DES VENTES IS</p>
                                <ul class="ml-1 mb-0 fa-ul text-muted">
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span>Email: fabienne.renard@latecoere.aero</li>
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
                                </ul>
                            </div>
                            <div class="col-4 text-center">
                                <img src="{% static '/img/avatar11.png' %}" alt="user-avatar" class="img-circle img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="text-right">
                            <a href="#" class="btn btn-sm bg-teal">
                                <i class="fas fa-comments"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-primary">
                                <i class="fas fa-user"></i> View Profile
                            </a>
                        </div> -->
                    </div>
                </div>
                
            </div>




        </div>
    </div>
</div>








{%endblock%}
