{% extends 'base2.html' %}
{% block children %}


    <!-- small box -->
    <div class="small-box bg-success" style="margin-bottom:0 !important" id="ofpastcount">
        <div class="inner">
        <h3>{{intercopurchase_count}}<sup style="font-size: 15px"> {{division}}</sup></h3>
        <p>Interco Purchase</p>
        </div>
        <div class="icon">
            <i class="far fa-chart-bar"></i>
        </div>
        <a href='{% url 'intercopurchaseDetails' %}' class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>


{% endblock children%}


