{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}

<div class="content">
    <div class="container-fluid">
        {% if message_error %}
            {%include 'homepage\error_msg.html'%}
        {% endif %}

        <div class="row">
            <div class="col-12">
                <div class="card">  
                    <div class="card-header">
                    <h3 class="card-title">Filter</h3>
                    </div>
                    <form action={% url 'PurchasePastHome' %} method="post">
                        {%include 'homepage/filter.html' %}
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-6">
                {% include 'purchasepast\count.html' %}
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                    <h3>{{purchase_value|intword}}<sup style="font-size: 15px"> euro</sup></h3>
                    <p>Real cost</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-euro-sign"></i>
                    </div>
                    <a href='{% url 'PurchasePastdetails' %}' class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        {% include 'purchasepast\count_receive_per_division.html'%}
    </div>
    <div class="col-lg-6">
        {% include 'purchasepast\count_convert_per_division.html'%}
    </div>   
    <div class="col-lg-6">
        {% include 'purchasepast\count_receive_per_week_per_division.html'%}
    </div>   
    <div class="col-lg-6">
        {% include 'purchasepast\count_convert_per_week_per_division.html'%}
    </div>  
</div>
<script type="text/javascript">
    function selectAllDivision(){
        var items=document.getElementsByName('division');
        for(var i=0; i<items.length; i++){
            if(items[i].type=='checkbox')
                items[i].checked=true;
        }
        document.getElementById('selectdivision').style.display = "none";
        document.getElementById('unselectdivision').style.display = "block";
    }
    
    function UnSelectAllDivision(){
        var items=document.getElementsByName('division');
        for(var i=0; i<items.length; i++){
            if(items[i].type=='checkbox')
                items[i].checked=false;
        }
        document.getElementById('selectdivision').style.display = "block";
        document.getElementById('unselectdivision').style.display = "none";
    }			
</script>


<script type="text/javascript">
    function selectAllWeek(){
        var items=document.getElementsByName('week');
        for(var i=0; i<items.length; i++){
            if(items[i].type=='checkbox')
                items[i].checked=true;
        }
        document.getElementById('selectweek').style.display = "none";
        document.getElementById('unselectweek').style.display = "block";
    }
    
    function UnSelectAllWeek(){
        var items=document.getElementsByName('week');
        for(var i=0; i<items.length; i++){
            if(items[i].type=='checkbox')
                items[i].checked=false;
        }
        document.getElementById('selectweek').style.display = "block";
        document.getElementById('unselectweek').style.display = "none";
    }			
</script>
{% endblock %}

