{% load static %}
{% load poll_extras %}


<div class="card card-primary card-outline" style="overflow-x:scroll;overflow-y:scroll;height: 500px;">
    <div class="card-header">
    <h5 class="m-0">Details</h5> 
    </div>
    <div class="card-body" id="details_wrapper">
        <ul class="list-group list-group-horizontal" style="margin-top: 10px; margin-bottom: 10px;">
            <ul class="list-group list-group-horizontal" style="margin-top: 10px; margin-bottom: 10px;">
                {%for year in years %} 
                <li class="list-group-item" style="padding:0.4rem 0.6rem">Year: {{year}}</li>
                {%empty%}
                <li class="list-group-item" style="padding:0.4rem 0.6rem">Year: {{current_year}}</li>
                {%endfor%}
            </ul> 
            <ul class="list-group list-group-horizontal" style="margin-top: 10px; margin-bottom: 10px;">
                {%for w in weeks %} 
                <li class="list-group-item" style="padding:0.4rem 0.6rem">Week: {{w}}</li>
                {%empty%}
                <li class="list-group-item" style="padding:0.4rem 0.6rem">Week: {{current_week}}</li>
                {%endfor%}
            </ul>
        </ul>
        {% if overview.iterrows %}
        <hr>
        <!-- this div for button download -->
        <div class="col-sm-12 col-md-6"></div>
        <br>
        <table id='details_table' class='table table-sm table-bordered table-hover table-head-fixed table-responsive-sm table-condensed'  >
            <thead class="table-light" style="white-space: nowrap">
                <tr>
                    <!-- <th>#</th> -->
                    <th>Week</th>
                    <th>Division</th>
                    <th>Profit center</th>
                    <th>Planning</th>
                    <th>profondeur</th>
                    <th style='background-color:#edede9;'>H1</th>
                    <th style='background-color:#edede9;'>H2</th>
                    <th style='background-color:#edede9;'>H3</th>
                    <th style='background-color:#edede9;'>In H3 without H1</th>
                    <th style='background-color:#edede9;'>All</th>
                    <th style='background-color:#e76f51;color: white;'>H1_M10</th>
                    <th style='background-color:#e76f51;color: white;'>H1_10_P</th>
                    <th style='background-color:#e76f51;color: white;'>H1_15_P</th>
                    <th style='background-color:#e76f51;color: white;'>H1_M20</th>
                    <th style='background-color:#e76f51;color: white;'>H1_unfix</th>
                    <th style='background-color:#118ab2;color: white;'>H3 without H1 | 10</th>
                    <th style='background-color:#118ab2;color: white;'>H3 without H1 | 10 | >5</th>
                    <th style='background-color:#118ab2;color: white;'>H3 without H1 | 15 | >10 or >20</th>
                    <th style='background-color:#118ab2;color: white;'>H3 without H1 | 20</th>
                    <th style='background-color:#118ab2;color: white;'>H3 without H1 | unfix</th>
                    <th style='background-color:#118ab2;color: white;'>after_H4_global_fix</th>


                    <th>H4_global</th>
                    <th>after_H4_global</th>
                    <th>H1_M15</th>
                    <th>H2_M10</th>
                    <th>H2_M15</th>
                    <th>H2_M20</th>
                    <th>H2_unfix</th>
                    <th>H3_M10</th>
                    <th>H3_M15</th>
                    <th>H3_M20</th>
                    <th>H3_unfix</th>
                    <th>H2_10_P</th>
                    <th>H3_10_P</th>
                    <th>H2_15_P</th>
                    <th>H3_15_P</th>
                </tr>
            </thead>
            <tbody>
                {% for index, data in overview.iterrows %}
                <tr>
                    <td>{{data.week}}</td>
                    <td>{{data.division}}</td>
                    <td>{{data.profit_centre}}</td>
                    <td>{{data.planning}}</td>
                    <td>{{data.profondeur|floatformat:2 }}</td>
                    <td>{{data.H1}}</td>
                    <td>{{data.H2}}</td>
                    <td>{{data.H3}}</td>
                    <td>{{data.H3|diff:data.H1}}</td>
                    <td>??</td>
                    <td>{{data.H1_M10}}</td>
                    <td>{{data.H1_10_P}}</td>
                    <td>{{data.H1_15_P}}</td>
                    <td>{{data.H1_M20}}</td>
                    <td>{{data.H1_unfix}}</td>
                    <td>{{data.H3_M10|diff:data.H1_M10}}</td>
                    <td>{{data.H3_10_P|diff:data.H1_10_P}}</td>
                    <td>{{data.H3_15_P|diff:data.H1_15_P}}</td>
                    <td>{{data.H3_M20|diff:data.H1_M20}}</td>
                    <td>{{data.H3_unfix|diff:data.H1_unfix}}</td>
                    <td>{{data.after_H4_global_fix}}</td>


                    <td>{{data.H4_global}}</td>
                    <td>{{data.after_H4_global}}</td>
                    <td>{{data.H1_M15}}</td>
                    <td>{{data.H2_M10}}</td>
                    <td>{{data.H2_M15}}</td>
                    <td>{{data.H2_M20}}</td>
                    <td>{{data.H2_unfix}}</td>
                    <td>{{data.H3_M10}}</td>
                    <td>{{data.H3_M15}}</td>
                    <td>{{data.H3_M20}}</td>
                    <td>{{data.H3_unfix}}</td>
                    <td>{{data.H2_10_P}}</td>
                    <td>{{data.H3_10_P}}</td>
                    <td>{{data.H2_15_P}}</td>
                    <td>{{data.H3_15_P}}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
        {% else %}
        <center style="margin-top: 15%;"><img src="{% static 'img/nodatafound.png' %}" alt="">
            <p class="card-text text-center">
                No Data available for this selection
            </p>
            <a class="btn btn-primary" href="{% url 'adhrencemexepcalcul' %}" role="button">Calculate now</a>
            </center>
        {% endif %}

    </div>
</div>

<script>
    $(document).ready( function () {
    $('#details_table').DataTable({
        'buttons': [
        'copy', 'excel'
    ],

      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": false,
    }).buttons().container().appendTo('#details_wrapper .col-md-6:eq(0)');
    } );
</script>