{% extends 'base.html' %}

{% load static %}
{% block content %}





  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark" style="opacity: 0.8;">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Adherence Mexep</h5>
      <hr style="background-color: white;">
      <p>Information about adherence mexep</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->



<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-primary card-outline" style="height: 550px;">
                    <div class="card-header">
                        <h5 class="m-0">SEVERITY MPS</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title ">Year: {{year}}, Week: {{week}}  </h6>   
                        {% if overview_week.iterrows %}
                        
                        <div>
                            <canvas id="indicatorweek"></canvas>

                            <script>
                                var xValues = [{% for index, data in indicatorweek.iterrows %} {{data.division}}, {% endfor %}];
                                // var xValues = [6,9,7,3,10,7,4,6]
                                var severity_mps_r = [{% for index, data in indicatorweek.iterrows %} (Math.round({{data.severity_mps_r}}) ), {% endfor %}];
                                var severity_mps_v = [{% for index, data in indicatorweek.iterrows %}(Math.round({{data.severity_mps_v}}) ), {% endfor %}];
                                var barColors = ["#FF6F91", "#FF9671","#008F7A","#845EC2","#2C73D2"];
                                
                                new Chart("indicatorweek", {
                                    type: "bar",
                                    data: {
                                            labels: xValues,
                                            datasets: [
                                                {
                                                label: "MPS Current Formula",
                                                backgroundColor: "#FF6F91",
                                                borderColor: "#FF6F91",
                                                borderWidth: 1,
                                                data: severity_mps_r
                                                },
                                                {
                                                label: "MPS Valentin",
                                                backgroundColor: "#27879E",
                                                borderColor: "#27879E",
                                                borderWidth: 1,
                                                data: severity_mps_v
                                                },
                                            ]
                                            },
                                    options: {
                                                plugins: {
                                                    datalabels: {
                                                        anchor: 'end',
                                                        clamp: true,
                                                        color: 'black',
                                                        
                                                    },
                                                    legend: {
                                                    display: true,
                                                    position:'right',
                                                    align:'middle',
                                                    labels: {
                                                    usePointStyle: true,
                                                    boxWidth: 6
                                                    },
                                                    },

                                                    title: {
                                                        display: false,
                                                        text: "tile"
                                                    },
                                                    
                                                },
                                    }
                                });
                            </script>
                        </div>

                        {% else %}
                        <center style="margin-top: 15%;"><img src="{% static 'img/nodatafound.png' %}" alt="">
                        <p class="card-text text-center">
                            No Data available for this selection
                        </p>
                        <a class="btn btn-primary" href="{% url 'adhrencemexepcalcul' %}" role="button">Calculate now</a>
                        </center>

                        {% endif %}
                    </div>
                </div>
            <div class="card card-primary card-outline" style="overflow-x:scroll;overflow-y:scroll;height: 500px;">
                <div class="card-header">
                <h5 class="m-0">Overview details</h5> 
                </div>
                <div class="card-body">
                <h6 class="card-title ">Year: {{year}}, Week: {{week}}</h6>
                    {% if overview_week.iterrows %}
                    <table class='table table-sm table-bordered table-hover table-head-fixed table-responsive-sm table-condensed'  >
                        <thead class="table-light" style="white-space: nowrap">
                            <tr>
                                <!-- <th>#</th> -->
                                <th>Week</th>
                                <th>Division</th>
                                <th>Profit center</th>
                                <th>Planning</th>
                                <th>profondeur</th>
                                <th>H1</th>
                                <th>H2</th>
                                <th>H3</th>
                                <th>H4_global</th>
                                <th>after_H4_global</th>
                                <th>H1_M10</th>
                                <th>H1_M15</th>
                                <th>H1_M20</th>
                                <th>H1_unfix</th>
                                <th>H2_M10</th>
                                <th>H2_M15</th>
                                <th>H2_M20</th>
                                <th>H2_unfix</th>
                                <th>H3_M10</th>
                                <th>H3_M15</th>
                                <th>H3_M20</th>
                                <th>H3_unfix</th>
                                <th>after_H4_global_fix</th>
                                <th>H1_10_P</th>
                                <th>H2_10_P</th>
                                <th>H3_10_P</th>
                                <th>H1_15_P</th>
                                <th>H2_15_P</th>
                                <th>H3_15_P</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, data in overview_week.iterrows %}
                            <tr>
                                <td>{{data.week}}</td>
                                <td>{{data.division}}</td>
                                <td>{{data.profit_centre}}</td>
                                <td>{{data.planning}}</td>
                                <td>{{data.profondeur}}</td>
                                <td>{{data.H1}}</td>
                                <td>{{data.H2}}</td>
                                <td>{{data.H3}}</td>
                                <td>{{data.H4_global}}</td>
                                <td>{{data.after_H4_global}}</td>
                                <td>{{data.H1_M10}}</td>
                                <td>{{data.H1_M15}}</td>
                                <td>{{data.H1_M20}}</td>
                                <td>{{data.H1_unfix}}</td>
                                <td>{{data.H2_M10}}</td>
                                <td>{{data.H2_M15}}</td>
                                <td>{{data.H2_M20}}</td>
                                <td>{{data.H2_unfix}}</td>
                                <td>{{data.H3_M10}}</td>
                                <td>{{data.H3_M15}}</td>
                                <td>{{data.H3_M20}}</td>
                                <td>{{data.H3_unfix}}</td>
                                <td>{{data.after_H4_global_fix}}</td>
                                <td>{{data.H1_10_P}}</td>
                                <td>{{data.H2_10_P}}</td>
                                <td>{{data.H3_10_P}}</td>
                                <td>{{data.H1_15_P}}</td>
                                <td>{{data.H2_15_P}}</td>
                                <td>{{data.H3_15_P}}</td>
                            </tr>
                            {% endfor%}
                        </tbody>
                    </table>
                    {% else %}
                    <center style="margin-top: 15%;"><img src="{% static 'img/nodatafound.png' %}" alt="">
                        <p class="card-text text-center">
                            No Data available for this selection
                        </p>
                        <a class="btn btn-primary" href="{% url 'adhrencemexepcalcul' %}" role="button">Calculate now</a>
                        </center>
                    {% endif %}

                </div>
            </div>

            <div class="card card-primary card-outline" style="overflow-x:scroll;overflow-y:scroll;height: 500px;">
                <div class="card-header">
                <h5 class="m-0">Overview</h5>
                </div>
                <div class="card-body ">
                    <h6 class="card-title ">All weeks</h6> 
                    {% if overview.iterrows %}
                    <table class='table table-sm table-bordered table-hover table-head-fixed table-responsive-sm table-condensed '  >
                        <thead class="table-light" style="white-space: nowrap">
                            <tr>
                                <!-- <th>#</th> -->
                                <th>Week</th>
                                <th>Division</th>
                                <th>Profit center</th>
                                <th>Planning</th>
                                <th>Severity Ordo</th>
                                <th>Severity MPS</th>
                                <th>Schedule state</th>
                                <th>MPS state</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for index, data in overview.iterrows %}
                            <tr>
                                <td>{{data.week}}</td>
                                <td>{{data.division}}</td>
                                <td>{{data.profit_centre}}</td>
                                <td>{{data.planning}}</td>
                                <td>{{data.severity_ordo_r}}</td>
                                <td>{{data.severity_mps_r}}</td>
                                <td>{{data.schedule}}</td>
                                <td>{{data.mps}}</td>
                            </tr>
                            {% endfor%}
                        </tbody>
                    </table>
                    {% else %}
                    <center style="margin-top: 15%;"><img src="{% static 'img/nodatafound.png' %}" alt="">
                        <p class="card-text text-center">
                            No Data available for this selection
                        </p>
                        <a class="btn btn-primary" href="{% url 'adhrencemexepcalcul' %}" role="button">Calculate now</a>
                    </center>
                    {% endif %}
                </div>
            </div>
            </div>
        <!-- /.col-md-6 -->
        <div class="col-lg-6">
            <div class="card card-primary card-outline" style="height: 550px;">
                <div class="card-header">
                    <h5 class="m-0">SEVERITY ORDO</h5>
                    
                </div>
                <div class="card-body">
                    <h6 class="card-title ">Year: {{year}}, Week: {{week}}  </h6>   
                    {% if overview_week.iterrows %}
                    
                    <div>
                        <canvas id="ordoweek"></canvas>

                        <script>
                            var xValues = [{% for index, data in indicatorweek.iterrows %} {{data.division}}, {% endfor %}];
                            // var xValues = [6,9,7,3,10,7,4,6]
                            var severity_ordo_r = [{% for index, data in indicatorweek.iterrows %} (Math.round({{data.severity_ordo_r}}) ), {% endfor %}];
                            var severity_ordo_v = [{% for index, data in indicatorweek.iterrows %}(Math.round({{data.severity_ordo_v}}) ), {% endfor %}];
                            var barColors = ["#FF6F91", "#FF9671","#008F7A","#845EC2","#2C73D2"];
                            
                            new Chart("ordoweek", {
                                type: "bar",
                                data: {
                                        labels: xValues,
                                        datasets: [
                                            {
                                            label: "Ordo Current Formula",
                                            backgroundColor: "#FF6F91",
                                            borderColor: "#FF6F91",
                                            borderWidth: 1,
                                            data: severity_ordo_r
                                            },
                                            {
                                            label: "Ordo Valentin",
                                            backgroundColor: "#27879E",
                                            borderColor: "#27879E",
                                            borderWidth: 1,
                                            data: severity_ordo_v
                                            },
                                        ]
                                        },
                                options: {
                                            plugins: {
                                                datalabels: {
                                                    anchor: 'end',
                                                    clamp: true,
                                                    color: 'black',
                                                    
                                                },
                                                legend: {
                                                display: true,
                                                position:'right',
                                                align:'middle',
                                                labels: {
                                                usePointStyle: true,
                                                boxWidth: 6
                                                },
                                                },

                                                title: {
                                                    display: false,
                                                    text: "tile"
                                                },
                                                
                                            },
                                }
                            });
                        </script>
                    </div>

                    {% else %}
                    <center style="margin-top: 15%;"><img src="{% static 'img/nodatafound.png' %}" alt="">
                    <p class="card-text text-center">
                        No Data available for this selection
                    </p>
                    <a class="btn btn-primary" href="{% url 'adhrencemexepcalcul' %}" role="button">Calculate now</a>
                    </center>

                    {% endif %}
                </div>
            </div>
            <div class="card card-primary card-outline" style="overflow-x:scroll;overflow-y:scroll;height: 500px;">
            <div class="card-header">
                <h5 class="m-0">Overview</h5>
            </div>
            <div class="card-body ">
                <h6 class="card-title ">Year: {{year}}, Week: {{week}}</h6> 
                {% if overview_week.iterrows %}
                <table class='table table-sm table-bordered table-hover table-head-fixed table-responsive-sm table-condensed '  >
                    <thead class="table-light" style="white-space: nowrap">
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Week</th>
                            <th>Division</th>
                            <th>Profit center</th>
                            <th>Planning</th>
                            <th>Severity Ordo</th>
                            <th>Severity MPS</th>
                            <th>Schedule state</th>
                            <th>MPS state</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for index, data in overview_week.iterrows %}
                        <tr>
                            <td>{{data.week}}</td>
                            <td>{{data.division}}</td>
                            <td>{{data.profit_centre}}</td>
                            <td>{{data.planning}}</td>
                            <td>{{data.severity_ordo_r}}</td>
                            <td>{{data.severity_mps_r}}</td>
                            <td>{{data.schedule}}</td>
                            <td>{{data.mps}}</td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
                {% else %}
                <center style="margin-top: 15%;"><img src="{% static 'img/nodatafound.png' %}" alt="">
                    <p class="card-text text-center">
                        No Data available for this selection
                    </p>
                    <a class="btn btn-primary" href="{% url 'adhrencemexepcalcul' %}" role="button">Calculate now</a>
                </center>
                {% endif %}
            </div>
          </div>
        </div>
        <!-- /.col-md-6 -->
      </div>
      <div class="row">
            <div class="card">
            <div class="card-header">
              <h5 class="m-0">Hello</h5>
            </div>
            <div class="card-body">
              <h6 class="card-title">Special title treatment</h6>

              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
{% endblock %}



