{% extends 'base2.html' %}
{% load static %}

{% block children %}
<!-- Info Modal -->
<div class="modal fade " id="inventory_accuracy_count_per_division_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Informations</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Documentation</b> : IN_MRPC_014 </li>
                <li class="list-group-item"><b>Input</b> : Tcode : COOIS variant /EXTRACT_OF_PA, KOC4, VBUP</li>
                <li class="list-group-item"><b>Filter</b> : KOC4 controling area PA01 WO list from COOIS extraction </li>
                <li class="list-group-item"><b>Rules</b>:        
                    <ul>
                        <li>Link WO/cost/WBS status/WO distribution (Past/Actual/Future) : </li>
                        <ul>
                            <li>Link WO and costs : WO number in COOIS and KOC4 extraction </li> 
                            <li>Link WO and customer order status : Customer order number in COOIS and VBUP extraction</li>
                            <li>Define WO distribution : Past : plan end date of WO < Today less 1 week</li>
                        </ul>
                        <li>WO Distribution : Nominal WIP / To be invoiced / TCLO pending / Waiting financial :</li>
                        <ul>
                            <li>TCLO pending : WO Status does not contain CLOT or TCLO and customer order status is ‘C’</li>
                            <li>To be invoiced : WO Status contain CLOT or TCLO and customer order status does not contain ‘C’</li>
                            <li>Nominal WIP : WO Status does not contain CLOT or TCLO and customer order status does not contain ‘C’</li>
                            <li>Waiting financial : WO Status contain CLOT or TCLO and customer order status is ‘C’</li>
                        </ul> 
                        <li>Root causes distribution WO in the past :</li>
                        <ul>
                            <li>COGI blocking TCLO status : if WO Type = Y04 or YP03 or YP24 or YP23 or YP10 or YP11 and WO Status = LIVR and Material number <> ""</li> 
                            <li> LCT released but not confirmed : WO number contain LCT and WO Status does not contain CONF or CNFP</li>
                            <li> LCT released, confirmed but not Delivered : WO number contain LCT and WO status contain CONF</li>
                            <li> Rush Order not released : if WO type= YP09 or YP10 or YP11 and WO status contain OUV.</li>
                            <li> RushOrder confirmed but not technically completed: if WO type = YP09 or YP29 or YP10 and WO status contains CONF and material number = ""</li>
                            <li> Rush Order confirmed but not delivered : if WO type = YP10 or YP11 and WO status contains CONF and material number <> ""</li>
                            <li> Rush Order not confirmed and not delivered : if WO type = YP10 or YP11 and WO status does not contains CONF and material number <> ""</li>
                            <li> Rush Order not confirmed but not technically completed : if WO type = Yp09 or YP29 or YP10 or YP11 + status does not contains CONF or/and CNFP and material number = ""</li>
                            <li> WO partially confirmed : if WO type = Y04 or YP03 or YP24 or YP23 or YP10 or YP11 and WO status contains CNFP and material number <> ""</li>
                            <li> WO Not confirmed : if WO type = Y04 or YP03 or YP24 or YP23 or YP10 or YP11 and WO status does not contains CONF or/and CNFP and material number <> ""</li>
                            <li> WO confirmed and not delivered : if WO type =  Y04 or YP03 or YP24 or YP23 or YP10 or YP11 and WO status contains CONF and material number <> ""</li>
                            <li> WO created but not released : if WO type = Y04 or YP03 or YP24 or YP23 or YP10 or YP11 and WO status and material number <> ""</li>
                        </ul>
                    </ul>
    
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
        </div>
    </div>
</div>
<div class="card card-primary card-outline" style="overflow-x:scroll;overflow-y:scroll;height: 600px;">
    <div class="card-header">
        <div class="card-tools" style="margin-right: -0.8rem;" >
            <form action={%url 'homesettings' %} method='POST'>
                {% csrf_token %}
                <input name="kpi" type="hidden" value="inventory_accuracy\count_per_division"> 
                <input name="col" type="hidden" value="6"> 
            <ul class="list-group list-group-horizontal" style="height: 35px;">
                <li class="list-group-item" style="padding:7px;"><i type="button"  data-toggle="modal" data-target="#inventory_accuracy_count_per_division_modal" class="info fas fa-info-circle"></i></li>
                <li class="list-group-item" style="padding:7px;"><button type="submit" style="border: none;background: none;padding: 0;"><i class=" favorite fas fa-heart" {%if 'inventory_accuracy\\count_per_division.html' in homekpi %} style="color:red;" {%endif%} ></i></button></li>
            </form>
            <li class="list-group-item" style="padding:7px;"><i type="button" class="download fas fa-download" id="btn-download-inventory_accuracy_accuracy_per_division"></i></li>
            <li class="list-group-item" style="padding:7px;"><button type="button" class="btn btn-tool" data-card-widget="maximize" style="padding:3px;padding-top: 0px;"><i class="fas fa-expand"></button></i></li>
            </ul>
        </div>
        <h5 class="m-0">Accuracy per division</h5>
        
    </div>
    <div class="card-body ">
        <h6 class="card-title ">Week(s): 
            <ul class="list-group list-group-horizontal" style="margin-top: 10px; margin-bottom: 10px;">
                {%for w in weeks %} 
                <li class="list-group-item" style="padding:0.4rem 0.6rem">{{w}}</li>
                {%empty%}
                <li class="list-group-item" style="padding:0.4rem 0.6rem">{{current_week}}</li>
                {%endfor%}
            </ul> 
        </h6>  
        {% if inventory_accuracy_count_per_division.iterrows %}
        <div style="height: 400px">
            <canvas id="inventory_accuracy_accuracy_per_division" ></canvas>

            <script>
                const inventory_accuracy_accuracy_per_division=new Chart("inventory_accuracy_accuracy_per_division", {
                    // plugins: [ChartDataLabels],
                    type: "bar",
                    data: {
                            labels: [{% for index, data in inventory_accuracy_count_per_division.iterrows %} '{{data.division}}', {% endfor %}],
                            datasets: [
                                {
                                label:'Currency',
                                backgroundColor:  ['#845EC2','#D65DB1','#FF6F91','#FF9671','#FFC75F','#008F7A','#4E8397','#C34A36'],
                                borderColor:  ['#845EC2','#D65DB1','#FF6F91','#FF9671','#FFC75F','#008F7A','#4E8397','#C34A36'],
                                borderWidth: 1,
                                data: [{% for index, data in inventory_accuracy_count_per_division.iterrows %} {{data.percent}}, {% endfor %}]
                                },
                                {
                                    type: "line",
                                    label: "Accuracy target",
                                    data:  [{% for index, data in inventory_accuracy_count_per_division.iterrows %} 98, {% endfor %}],
                                    lineTension: 0, 
                                    fill: false,
                                    backgroundColor:'#59CE8F',
                                    borderColor:'#59CE8F',
                                }
                            ]
                            },
                    options: {
                        plugins: {
                                datalabels: {
                                    anchor: 'end',
                                    clamp: true,
                                    color: 'black',
                                    
                                },

                                legend: {
                                display: false,
                                position:'right',
                                align:'middle',
                                labels: {
                                usePointStyle: true,
                                boxWidth: 6
                                },
                                },

                                title: {
                                    display: false,
                                    text: "tile"
                                },
                                // add persent sign to tooltip 
                                tooltip: {
                                    callbacks: {
                                        label: function(context) {
                                            var label = context.dataset.label || '';
                                            if (context.parsed.y !== null) {
                                                label += ' ' +context.parsed.y + '%';
                                            }
                                            return label;
                                        }
                                    }
                                }
                                
                            },
                            // add persent sign to y scale 
                            scales: {
                                y: {
                                  min: 0,
                                  max: 100,
                                  ticks: {
                                    stepSize: 10,
                                    callback: function (value, index, values) {
                                      return value + " %";
                                    }
                                  }
                                }
                              },
                            responsive: true,
                            maintainAspectRatio:false, 

                    }
                });
            </script>
        </div>
        {% else %}
        <center style="margin-top: 15%;"><img src="{% static 'img/nodatafound.png' %}" alt="">
            <p class="card-text text-center">
                No Data available for this selection
            </p>
            <a class="btn btn-primary" href="{% url 'inventory_accuracyupload' %}" role="button">Calculate now</a>
        </center>
        {% endif %}
    </div>

    <script>
        var image = inventory_accuracy_accuracy_per_division.toBase64Image();
        document.getElementById('btn-download-inventory_accuracy_accuracy_per_division').onclick = function() {
        var a = document.createElement('a');
        a.href = inventory_accuracy_accuracy_per_division.toBase64Image();
        a.download = 'inventory_accuracy_accuracy_per_division.png';
        a.click();
        }
    </script>
</div>



{% endblock children%}